* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  color: #191919;
}

body { 
  background: #f3f3f3;
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}
header div {
  font-size: 1rem;
}
header .info {
  justify-content: space-around;
}
header .info span:nth-of-type(1) {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.7rem;
  text-align: center;
  color: #fff;
  background-color: #85B4D8;
  padding: 5px 10px 5px 15px;
}

header .info p:nth-of-type(1) {
  font-size: 5rem;
  font-weight: 500;
}
 
header .contact p, 
header .contact a { 
  text-align: right;
  display: block;
  margin-bottom: 7px;
}
header .contact a {
  color: #000;
}
header .contact p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 700;
  color: #85B4D8;
  margin-bottom: 5%;
}
section div h2 {
  color: #DDD;
  font-size: 2rem;
  margin-top: 5%;
}

.skill-txt, .work-ex-txt, .skills-wrap, .project-txt, .certificate-txt {
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  padding: 2.5%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
section .soft-skills div p {
  margin-bottom: 10px;
  font-size: 1rem;
}
section .soft-skills div p:last-child {
  margin-bottom: 0;
}
section .work-ex-txt h3 {
  font-weight: normal;
}

.work-ex-txt h3 {
  font-size: 1.2rem;
}
.work-ex-txt p {
  font-size: 1rem;
}
.work-ex-txt > p:nth-of-type(2) {
  margin-top: 20px ;
}

.work-cnt {
  margin-top: 5%;
}
.work-cnt h4 {
  margin-top: 3%;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #85B4D8;
}
.work-cnt p {
  margin-bottom: 10px;
  font-size: 1rem;
}
.work-cnt p:last-child {
  margin-bottom: 0;
}

.education > div {
  display: flex;
  justify-content: space-between;
}
.education > div > div {
  background-color: #fff;
  padding: 3%;
}
.education-txtwrap > div > h3 {
  margin-bottom: 10px;
  color: #85B4D8;
}
.education-txtwrap > div > p {
  margin-bottom: 10px;
}
.education-txtwrap > div > p:nth-of-type(1) {
  margin-bottom: 20px;
  color: #888;
}
.education-left {
  width: 49%;
}
.education-right {
  width: 49%;
}


.certificate-txt {
  display: flex;
  /* justify-content: space-around; */
}
.certificate-txt p:nth-of-type(1) {
  margin-bottom: 10px;
}
.certificate-date {
  margin-right: 5%;
}
.certificate-date p {
  color: #888;
}


.skills-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
}
.skills-wrap > div {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills-wrap > div > div.skills-rowwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skills-wrap .skills-graph {
  position: relative;
  width: 350px;
  height: 7px;
  background-color: #e9e9e9;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.skills-wrap .skills-graph .skills-graph-color {
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #85B4D8;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.skills-txt h3 {
  font-size: 1rem;
  font-weight: normal;
}

/* scroll css start */

.js-scroll {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition: 1s;
  transition-timing-function: linear;
}

.js-scroll.scrolled {
  opacity: 1;
  transform-origin: 0;
  transform: scaleX(1);
}

.skills-left-wrap .skills-rowwrap:nth-of-type(3) .skills-graph-color.scrolled {
  transform: scaleX(0.7);
}

.skills-left-wrap .skills-rowwrap:nth-of-type(4) .skills-graph-color.scrolled {
  transform: scaleX(0.7);
}

.skills-left-wrap .skills-rowwrap:nth-of-type(5) .skills-graph-color.scrolled,
.skills-left-wrap .skills-rowwrap:nth-of-type(6) .skills-graph-color.scrolled {
  transform: scaleX(0.5);
}


/* scroll css end */

.project h3 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 40px;
}
.project h3 b {
  font-size: 1.1rem;
  color: #85B4D8;
  margin-right: 5px;
}
.project a {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

footer .copyright {
  margin-top: 5%;
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
}

/* mobile */

@media (max-width: 768px) {
  header {
    display: block;
  }
  header .info p:nth-of-type(1) {
    font-size: 3rem;
  }
  header .contact {
    margin: 10% 0;
  }
  header .contact p, header .contact a {
    text-align: left;
  } 

  .education > div {
    display: block;
  }
  .education-left, .education-right {
    width: 100%;
    margin-top: 3%;
  }
  
  .skills-wrap {
    flex-direction: column;
    padding: 8% 5%;
  }
  .skills-wrap > div {
    width: 80%;
  }
  .skills-wrap > div > div.skills-rowwrap {
    display: block;
    margin-bottom: 20px;
  }
  .skills-wrap .skills-graph {
    width: 100%;
  }
  .skills-wrap .skills-txt {
    margin-bottom: 10px;
  }
  .project {
    word-break: break-all;
  }
}

/* tablet */
@media screen and (min-width: 321px) and (max-width: 1200px) {
  header {
    display: block;
  }
  header .contact {
    margin: 8% 0;
  }
  header .contact p:nth-of-type(1) {
    margin-bottom: 20px;
  }
  header .contact p, header .contact a {
    text-align: left;
  } 

  .skills-wrap {
    flex-direction: column;
    padding: 8% 5%;
  }
  .skills-wrap > div {
    width: 80%;
  }
  .skills-wrap > div > div.skills-rowwrap {
    display: block;
    margin-bottom: 20px;
  }
  .skills-wrap .skills-graph {
    width: 100%;
  }
  .skills-wrap .skills-txt {
    margin-bottom: 10px;
  }

  .skill-txt, .work-ex-txt, .project-txt, .certificate-txt, .education-left, .education-right {
    padding: 5%;
  }
}