* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  color: #191919;
}

body { 
  background: #f3f3f3;
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}
header div {
  font-size: 1rem;
}
header .info {
  justify-content: space-around;
}
header .info span:nth-of-type(1) {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.7rem;
  text-align: center;
  color: #fff;
  background-color: #85B4D8;
  padding: 5px 10px 5px 15px;
}

header .info p:nth-of-type(1) {
  font-size: 5rem;
  font-weight: 500;
}
 
header .contact p, 
header .contact a { 
  text-align: right;
  display: block;
  margin-bottom: 7px;
}
header .contact a {
  color: #000;
}
header .contact p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 700;
  color: #85B4D8;
  margin-bottom: 5%;
}
section div h2 {
  color: #DDD;
  font-size: 2rem;
  margin-top: 5%;
}

.skill-txt, .work-ex-txt, .certificate-txt {
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  padding: 2.5%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
section .soft-skills div p {
  margin-bottom: 10px;
  font-size: 1rem;
}
section .soft-skills div p:last-child {
  margin-bottom: 0;
}
section .work-ex-txt h3 {
  font-weight: normal;
}

.work-ex-txt h3 {
  font-size: 1.2rem;
}
.work-ex-txt p {
  font-size: 1rem;
}
.work-ex-txt > p:nth-of-type(2) {
  margin-top: 20px ;
}

.work-cnt {
  margin-top: 5%;
}
.work-cnt h4 {
  margin-top: 3%;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #85B4D8;
}
.work-cnt p {
  margin-bottom: 10px;
  font-size: 1rem;
}
.work-cnt p:last-child {
  margin-bottom: 0;
}

.education > div {
  display: flex;
  justify-content: space-between;
}
.education > div > div {
  background-color: #fff;
  padding: 2%;
}
.education-txtwrap > div > h3 {
  margin-bottom: 10px;
  color: #85B4D8;
}
.education-txtwrap > div > p {
  margin-bottom: 10px;
}
.education-txtwrap > div > p:nth-of-type(1) {
  margin-bottom: 20px;
  color: #888;
}
.education-left {
  width: 49%;
}
.education-right {
  width: 49%;
}

footer .copyright {
  margin-top: 5%;
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
}

