* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  word-break: keep-all;
  /* font-family: 'Roboto', sans-serif; */
}
.clear {clear: both;}