* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  word-break: keep-all;
  /* white-space: pre; */
  /* font-family: 'Roboto', sans-serif; */
}
.clear {clear: both;}

.inner {width: 80%; margin: 0 auto;}

header {
  position: absolute;
  top: 0;
  width: 100%;
}
header div {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
header h1 a img {
  width: 100px;
  height: auto;
}
header nav ul {
  display: flex;
  justify-content: center;
}
header nav ul li {
  display: flex;
  margin-left: 80px;
}
header nav ul li a {
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
}
header nav ul li:last-child img {
  width: 25px;
  height: auto;
  display: flex;
  align-items: center;
}

/* slide start */

.mySlides {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background01 {
  background-image: url('img/bg/01.png');
}
.background02 {
  background-image: url('img/bg/02.png');
}
.background03 {
  background-image: url('img/bg/03.png');
}
.background04 {
  background-image: url('img/bg/04.png');
}
.background05 {
  background-image: url('img/bg/05.png');
}

/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to{opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to{opacity: 1} 
} */

.currentSlides {
  text-align: center;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform:translateX(-50%);
}

.slideshow-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  /* position: absolute; */
  /* top: 0; */
  z-index: -999;
}
.slide-after{ 
  position: static;
  top: 100vh;
  height: 100vh;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  opacity: .5;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-image-repeat: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  color: #FFF;
  opacity: 1;
}
.prev img, .next img {
  width: 30px;
  height: auto;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* brand history start */

.brand-history {
  /* height: 150vh; */
  margin: 200px 0;
}

.brand-history h2 {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}

.brand-history-cntwrap {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1.5fr 50px;
  grid-template-rows: 1.5fr 1fr 1fr 1.2fr ;
  height: 1000px;
}
.brand-history-cntwrap > .with {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  min-height:100%;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/story/01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.brand-history-cntwrap > .with > h3 {
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
}
.brand-history-cntwrap > .with > p {
  width: 50%;
  color: #fff;
  font-weight: 400;
  line-height: 1.6rem;
}

.brand-history-cntwrap > .infra {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/story/02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  padding: 50px;
}

.brand-history-cntwrap > .infra > h3 {
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  text-align: right;
  color: #fff;
  font-size: 2rem;
}
.brand-history-cntwrap > .infra > p {
  position: relative;
  right: -20%;
  width: 80%;
  color: #fff;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: right;
}
.brand-history-cntwrap > .ontheroad {
  background-color: green;
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  /* grid-column: span 1 / -1 */
}
.brand-history-cntwrap > .overlap {
  background-color: blue;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}
.brand-history-cntwrap > .light {
  background-color: purple;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  z-index: 1000;
}
.brand-history-cntwrap > .side-title {
  grid-column: span 1 / -1;
  grid-row: 1 / 3;
}
.brand-history-cntwrap > .side-title > span {
  display: block;
  width: 200px;
  transform-origin: 20px 20px ;
  transform: rotate( 90deg );
  /* line-height: 100px; */
}

/* .brand-history-cntwrap > .infra {
  background: rgba(0, 0, 0, 0.9) url('img/story/02.jpg') center/cover no-repeat;
} */
/* .brand-history-cntwrap > div:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding-left: 30px;
  width: 50%;
  height: 800px;
  background: rgba(0, 0, 0, 0.7) url('img/story/01.jpg') top center/cover no-repeat;
  background-color: #ccc;
  background-blend-mode: darken;
}
.brand-history-cntwrap > div:nth-of-type(1) > h3 {
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
}
.brand-history-cntwrap > div:nth-of-type(1) > p {
  width: 50%;
  color: #fff;
  font-weight: 400;
  line-height: 1.6rem;
}

.brand-history-cntwrap > div:nth-of-type(2) {
  width: 50%;
  background-color: #aaa;
  height: 800px;
  float: right;
  background: rgba(0, 0, 0, 0.9) url('img/story/02.jpg') center/cover no-repeat;
}
.brand-history-cntwrap > div:nth-of-type(4) {
  width: 40%;
  height: 364px;
  position: absolute;
  top: 600px;
  left: 23%;
  background-color: #bbb;
  background: #fff url('img/story/03.jpg') 80%/contain no-repeat;
}
.brand-history-cntwrap > div:nth-of-type(3) {
  width: 40%;
  height: 450px;
  float: right;
  background-color: lightcoral;
  background: #fff url('img/story/04.jpg') 98%/contain no-repeat;
}
.brand-history-cntwrap > div > div {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
} */

/* brand history end */

.product {
  background-color: lightgoldenrodyellow;
  height: 100vh;
  width: 100%;
}
.video {
  background-color: antiquewhite;
  height: 100vh;
}
.project {
  background-color: lightblue;
  height: 100vh;

}