@media screen and (max-width: 768px) { 

/* home-main start */

  .home-main {
    padding-top: 10px;
    height: 100vh;
    background-position: 200% 100px;
    background-size: 90%;
  }  
  .main-title p {
    font-size: 1.2em;
    margin-top: 26rem;
    margin-left: 0;
    text-align: center;
  }
  nav, .service-area {display: none;}

  .mobile-menu {display: inline;}

/* section02 start */

  .sec02-wrap {display: block;}
  .sec02-wrap > div {height: 100vh;}

  .sec02-left {
    background:#DBC9DF url('img/woman/01.png') 50% 200px/70% no-repeat;
}
  .sec02-left, .sec02-center, .sec02-right {
    width: 100%;
    height: 100vh;
  }
  .sec02-left-textwrap {
    margin: 0 auto;
    padding-top: 25px;
  }
  .sec02-right p:nth-of-type(1),
  .sec02-left p:nth-of-type(1) {
      font-size: 1.4em;
  }
  .sec02-right p:nth-of-type(2),
  .sec02-left p:nth-of-type(2) {
      font-size: 1.2em;
  }
  .sec02-right p:nth-of-type(3),
  .sec02-left p:nth-of-type(3) {
      font-size: 1em;
  }
  .sec02-right-textwrap {
    padding-top: 430px;
  }

/* section03 start */

  .sec03-clothes-wrap {display: flex; flex-direction: column;}
  .sec03-clothes-wrap > div {
    width: 100%;
    height: 490px;
  }
  .sec03-clothes-wrap > div:nth-of-type(5)  {
    order: 6;
  }
  .sec03-clothes-wrap > div:nth-of-type(6)  {
    order: 5;
  }
  .sec03-clothes-wrap > div:nth-of-type(7)  {
    order: 8;
  }
  .sec03-clothes-wrap > div:nth-of-type(8)  {
    order: 7;
  }

  .sec03-clothes-wrap .sec03-textwrap {height: 250px}

  .sec03-textwrap {
    position: static;
    display: flex;
    align-items: center; 
    justify-content: center;}

  .sec03-text {
    position: static;
    width: 90%;
    margin: 0 auto;
  }
  .sec03-clothes-wrap br {
    display: none;
  }

  .sec03-br {display: none;}

/* section04 start */

  .sec04-wrap {display: block;}
  .sec04-wrap > div {height: 100vh;}

  .sec04-right {
    background-position: 240px 70%;
  }
  .sec04-left, .sec04-center, .sec04-right {
    width: 100%;
    height: 100vh;
  }
  .sec04-left-textwrap {
    margin: 0 auto;
  }
  .sec04-right p:nth-of-type(1),
  .sec04-left p:nth-of-type(1) {
    font-size: 1.4em;
  }
  .sec04-right p:nth-of-type(2),
  .sec04-left p:nth-of-type(2) {
    font-size: 1.2em;
  }
  .sec04-right p:nth-of-type(3),
  .sec04-left p:nth-of-type(3) {
    font-size: 1em;
  }
  .sec04-right {
    background:#8AA4C9 url('img/man/05.png') 50% 240px/70% no-repeat;
  }

/* section05 start */

  .sec05-clothes-wrap {display: flex; flex-direction: column;}
  .sec05-clothes-wrap > div {
    width: 100%;
    height: 490px;
  }
  .sec05-clothes-wrap > div:nth-of-type(5)  {
    order: 6;
  }
  .sec05-clothes-wrap > div:nth-of-type(6)  {
    order: 5;
  }
  .sec05-clothes-wrap > div:nth-of-type(7)  {
    order: 8;
  }
  .sec05-clothes-wrap > div:nth-of-type(8)  {
    order: 7;
  }

  .sec05-clothes-wrap .sec05-textwrap {height: 250px}

  .sec05-textwrap {
    position: static;
    display: flex;
    align-items: center; 
    justify-content: center;}

  .sec05-text {
    position: static;
    width: 90%;
    margin: 0 auto;
  }
  .sec05-clothes-wrap br {
    display: none;
  }
  
  .br-display-none {display: none;}

/* section06 start */

.sec06-category > div > div {
    width: 50%;
    height: 50vh;
  }
  .sec06-text {width: 85%; margin: 15% auto;}
  
  .anklepants > div:nth-of-type(2) {
    background: #FFF url('img/category/04.jpg') 35% 0px/cover no-repeat;
  }
  
  .sec06-text p:nth-of-type(1) {
    font-weight: 600;
    font-size: 1.3em;
  }
  .sec06-text p:nth-of-type(2) {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  .sec06-text p:nth-of-type(3) {
    font-size: 1.0em;
  }

  /* section07 start */
  
  .sec07 {
    width: 100%;
    background-color: #ED1D24;
    padding: 15px 0;
  }
  .sec07-wrap {width: 90%; margin: 0 auto;}
  .sec07 p:nth-of-type(1) {
    font-size: 1.4em;
  }
  .sec07 p:nth-of-type(2) {
    font-size: 1.2em;
    margin: 10px 0 30px 0;
  }
  .sec07 p:nth-of-type(3) {
    font-size: 0.9em;
    margin-bottom: 15px;
  }
  
  /* section08 start */

  .sec08-sns-wrap > div {
    flex: 1 1 40%;
    height: 250px;
  }
  .sec08-sns-wrap > div:last-child {
    display: none;
  }

  /* footer start */
  footer {
    margin: 40px 0;
  }

  footer h1 a img {
    display: block; 
    width: 40px; 
    height: auto; 
    margin: 0 auto;
  }
  .footer-nav {
    display: block;
    justify-content: space-between;
}
  footer ul { display: flex; justify-content: center;}
  footer ul li {margin: 10px;}
  footer ul li a {color: #000; font-size: 1em;}


  footer .copyright {
    font-size: 0.6em;
    text-align: center;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) { }