* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.wrap {
    width: 90%;
    margin: 0 auto;
    
}
header {
    display: flex;
    justify-content: space-between;
}
.nav-area {
    display: flex;
    justify-content: center;
}
.nav-area ul {
    display: flex;
    align-items: center;
}
.nav-area ul li {
    
}
.service-area {
    display: flex;
}
.service-area ul {
    display: flex;
}
.nav-area h1 img {
    width: 60px;
    height: auto;
    display: block;
}