* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.wrap {
    width: 90%;
    margin: 0 auto;
    
}
header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;

}
.nav-area {
    display: flex;    
}
.nav-area ul {
    display: flex;
}
.nav-area ul li {
    margin-left: 40px;
}
.nav-area ul li a {
    color: #000;
    font-weight: bold;
}
.service-area {
    display: flex;
    align-items: center;
}
.service-area ul {
    display: flex;
}
.service-area ul li {
    margin-left: 20px;
}
.service-area ul li a {
    color: #000;
}
.nav-area h1 img {
    width: 60px;
    height: auto;
    display: block;
}